.about-me__avatar {
  display: block;
  float: left;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 30px 13px;
  background: url("../image/decorative-images/avatar.jpg") no-repeat;
  background-size: contain;
  background-position: 50% 36%;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background: url("../image/decorative-images/avatar@2x.jpg") no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    width: 150px;
    height: 150px;
    margin: 10px 20px;
  }
}

.about-me__link {
  font-weight: 500;
}
