.body {
  display: flex;
  flex-direction: column;
  background-color: $background-white-color;
}

.body__header {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.body__up-button {
  display: none;
}
