.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;

  &--info {
    height: 100%;
  }
}

// .header__wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100%;
// }

.header__container {
  // position: relative;
  width: 100%;
  height: 100%;
  background: url("../image/decorative-images/index-background-mobile.png")
    no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background: url("../image/decorative-images/index-background-mobile@2x.png")
      no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    background: url("../image/decorative-images/index-background-tablet.png")
      no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background: url("../image/decorative-images/index-background-tablet@2x.png")
        no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../image/decorative-images/index-background-desktop.png")
      no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background: url("../image/decorative-images/index-background-desktop@2x.png")
        no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.header__button {
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  filter: drop-shadow(2px 2px 10px #808080);
}

.header__button-arrow {
  fill: $text-black-color;
  // filter: drop-shadow(0 2px 6px $text-white-color);
}
