.info {
  font-size: 16.5px;
  text-indent: 1rem;
  background-color:$background-white-color;
  padding-bottom: 50px;

  // @media (min-width: $tablet-width) {
  //   padding-top: 126px;
  // }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    text-indent: 0;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    margin: 0 auto;
  }
}
