.sorting-list {
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: start;
  gap: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.sorting-list__item {
  &--hidden {
    display: none;
  }

  @media (min-width: $desktop-width) {
    &--marron {
      order: 1;
    }

    &--mishka {
      order: 6;
    }

    &--pink {
      order: 10;
    }

    &--global {
      order: 9;
    }

    &--kekstagram {
      order: 12;
    }

    &--kasmir {
      order: 2;
    }

    &--device {
      order: 8;
    }

    &--cat-energy {
      order: 7;
    }

    &--sedona {
      order: 5;
    }

    &--offerrum {
      order: 11;
    }

    &--spshop {
      order: 3;
    }

    &--gussi {
      order: 4;
    }
  }
}

.sorting-list__link {
  display: block;

  &:active .sorting-list__title {
    color: #e98b3f;
  }
}

.sorting-list__image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
  box-shadow: 10px 10px 30px #f1f1f1;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-width: 320px;
    min-height: 170px;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
    min-height: 215px;
  }
}

.sorting-list__title {
  text-align: center;
  margin: 5px 0 0;

  @media (min-width: $tablet-width) {
    margin: 20px auto 0;
    max-width: 263px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}
