.link {
  text-decoration: none;
  margin: 0;
  color: #474242;
  outline: 2px solid transparent;
  border-radius: 7px;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(2px 2px 10px #e98b3f);
  }

  &:focus {
    outline-color: #e98b3f;
  }

  &:active {
    color: #e98b3f;
    outline-color: transparent;
  }
}
