.about-me {
  padding-top: 20px;
}

.about-me__link {
  display: block;
  float: right;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid $white-text;
  outline: 3px solid #bfdd5c;
  margin: 0 6px;
  background: url("../image/decorative-images/avatar.jpg") no-repeat;
  background-size: contain;
  background-position: 50% 36%;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background: url("../image/decorative-images/avatar@2x.jpg") no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    width: 150px;
    height: 150px;
    margin: 0;
  }
}
