.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 20px 10px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-width: 1320px;
  }
}

.nav-list__item {
  text-align: center;
}

.nav-list__link {
  position: relative;
  font-size: 25px;
  color: $title-color;
  font-weight: 400;
  padding-left: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    background-size: contain;
  }

  &--start::before {
    background-image: url("../image/decorative-images/icon-amanita.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../image/decorative-images/icon-amanita@2x.png");
    }
  }

  &--about-me::before {
    background-image: url("../image/decorative-images/icon-blueberries.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../image/decorative-images/icon-blueberries@2x.png");
    }
  }

  &--education::before {
    background-image: url("../image/decorative-images/icon-goji.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../image/decorative-images/icon-goji@2x.png");
    }
  }

  &--skills::before {
    background-image: url("../image/decorative-images/icon-mushroom.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../image/decorative-images/icon-mushroom@2x.png");
    }
  }

  &--experience::before {
    background-image: url("../image/decorative-images/icon-berries.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../image/decorative-images/icon-berries@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}
