.social-list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  width: 100%;
  flex-wrap: wrap;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba($white-text, 0.5);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    margin: 0 auto;

    &::before,
    &::after {
      content: none;
    }
  }
}
