// Colors
$text-black-color: #474242;
$background-color: #ffa692;
$background-black-color: #000000;
$background-white-color: #ffffff;
$title-color: #474242;
$white-text: #ffffff;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
